.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.image{
    width: 100%;
}
#start,#status{
    font-size: 22px;
}
.image1{
    width: 45%;
    display: inline-block;
}
.modal-dialog{
width: 90%;
}
h4{
    line-height: 2;
    margin: 0px;
    background-color: beige;
}
video{
    background: url("game_console.png");
    background-size: cover;background-position: center;
    padding: 25px;
}